:root{
    --color-darkblue : #004E86;
    --color-midblue : #0070C0;
    --color-lightblue : #6EC3FF;
    --color-yellow : #FFC000;
    --color-black: #333333;
    --color-gray: #737373;
    --color-white: #FFFFFF;
    --color-darkmodebg: #282C34;
}

*{
    font-family: 'Montserrat', sans-serif;
}

* > a {
    text-decoration: none;
}


.abt-buttons{
    display: flex;
}

#resume-button{
    color: var(--color-darkblue);
    height: 50px;
    width: 200px;
    border: 3px solid var(--color-darkblue);
    border-radius: 10px;
    margin: 5px 2px;
    transition: 300ms;
    background-color: white;
}

#resume-button:hover{
    
    background-color: #008cff;
    color: #ffffff;
    box-shadow: 0 0 5px #0f8cf3,
                0 0 20px #008cff,
                0 0 100px #0676d1;

    border: 0px;

    .reume_download_link{
        color: white;
    } 
}



@media (max-width: 450px){
    #resume-button{
        width: 90%;
    }
}

.gd > img:hover {
    transform: scale(1.04);
}


/* Skills- Section */


.Skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #309fee;
    color: white;
    padding: 5px;
    overflow: hidden;
}

.Skills-section h2{
    font-size: 2.5rem;
}


.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 80vw;
    padding: 0 0 2rem 0rem;
}

.skill-itm{
    width: 9rem;
    background-color: rgba(248, 245, 240, 0.85);
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    padding: 0.8rem;
    color: black;
    border-radius: 0.6rem;
    margin: 10px;
}

.skill-itm img{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    margin: 0;
}

.skill :hover {
    background-color: #c4e0f3;
    transform: scale(1.1);
    transition: all ease-in-out 200ms;
}


/* Education Section */

.education{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white; 
    color: black;
    overflow: hidden;
}

.education h2 {
    font-size: 2.5rem;
    margin-bottom: 0px;
}

.edu-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
    flex-wrap: wrap;
}

.edu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 450px;
    height: 350px;
    overflow: hidden;
}

.edu-card img{
    width: 450px;
    border-radius: 10px;
}

.edu-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(201, 225, 241, 0.9);
    width: 410px;
    text-align: center;
    border-radius: 20px;
    transition: all 500ms;
}


@media (max-width: 800px){

    .Skills-section h2 {
        font-size: 2rem;
        margin: 18px;
    }

    .skill-itm {
        padding: 10px;
        margin: 4px;
        width: 110px;
    }
    
    .skill-itm img {
        width: 40px;
        padding: 8px;
 
    }

    .skill-itm h4{
        font-size: 1rem;
        text-align: center;
        margin: 10px;
    }
}

@media (max-width: 500px){

    .Skills-section h2 {
        font-size: 1.8rem;
        margin: 18px;
    }

    .skill-itm {
        padding: 5px;
        margin: 2px;
        width: 100px;
    }
    
    .skill-itm img {
        width: 30px;
        padding: 5px;
 
    }

    .skill-itm h4{
        font-size: 0.8rem;
        text-align: center;
        margin: 5px;
    }


    /* education section */

    .education h2{
        font-size: 1.8rem;
        margin: 10px 0px 0px 0px;
        padding-top: 10px;
    }

    .edu-container{
        padding: 0px 5px 10px 5px;
        width: 90%;
    }

    .edu-card{
        padding: 12px;
        width: 250px;
        height: 195px;
    }

    .edu-card img{
        width: 270px;
    }

    .edu-txt{
        font-size: 12px;
    }
}
