:root{
    --color-darkblue : #004E86;
    --color-midblue : #0070C0;
    --color-lightblue : #6EC3FF;
    --color-yellow : #FFC000;
    --color-black: #333333;
    --color-gray: #737373;
    --color-white: #FFFFFF;
    --color-darkmodebg: #282C34;
}

*{
    font-family: 'Montserrat', sans-serif;
}

* > a {
    text-decoration: none;
}


.abt-buttons{
    display: flex;
}

#resume-button{
    color: var(--color-darkblue);
    height: 50px;
    width: 200px;
    border: 3px solid var(--color-darkblue);
    border-radius: 10px;
    margin: 5px 2px;
    transition: 300ms;
    background-color: white;
}

#resume-button:hover{
    background-color: #008cff;
    color: #ffffff;
    box-shadow: 0 0 5px #0f8cf3,
                0 0 20px #008cff,
                0 0 100px #0676d1;

    border: 0px;
}


@media (max-width: 450px){
    #resume-button{
        width: 90%;
    }
}

.gd > img:hover {
    transform: scale(1.04);
}
