/* BRANDS WORKED WITH */

.brands{
    overflow: hidden;
}

.brands h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 32px;
    
}

.brand-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.brand-logos > img{
    height: 115px;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 20px;
}

.brand-logos-rev > img{
    display: none;
}


@keyframes scroll {
    from{
        transform: translateX(700px);
    }

    to{
        transform: translateX(-600px);
    }
}

@keyframes scroll-right {
    from{
        transform: translateX(-600px);
    }

    to{
        transform: translateX(600px);
    }
}

@media (max-width: 700px){

    .brands{
        padding: 0;margin: 0;
    }
    .brands h2{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin: 20px 0px 0px 0px;
    }

    .brand-logos-rev > img{
        display: block;
    }

    .brand-logos-rev{
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: scroll-right;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .brand-logos-rev > img{
        height: 100px;
        aspect-ratio: 3/2;
        object-fit: contain;
        padding: 5px;
    }
}
