
.contact-us{
    /* background-color: var(--color-lightblue); */

    /* background: rgb(148, 191, 255);
    background: linear-gradient(65deg, rgba(45,121,232,1) 0%, rgba(115,113,246,1) 24%, rgba(107,179,236,1) 71%, rgba(64,161,250,1) 98%); */

    /* background-color:hsla(204,100%,71%,1);
    background-image:
    radial-gradient(at 53% 61%, hsla(208,100%,71%,1) 0px, transparent 50%),
    radial-gradient(at 64% 35%, hsla(208,69%,81%,1) 0px, transparent 50%),
    radial-gradient(at 53% 35%, hsla(216,87%,59%,1) 0px, transparent 50%),
    radial-gradient(at 81% 63%, hsla(204,94%,61%,1) 0px, transparent 50%),
    radial-gradient(at 43% 77%, hsla(245,75%,70%,1) 0px, transparent 50%),
    radial-gradient(at 23% 24%, hsla(244,75%,70%,1) 0px, transparent 50%); */


    background-color:#9c99ff;
    background-image:
    radial-gradient(at 33% 16%, rgb(65, 128, 237) 0px, transparent 50%),
    radial-gradient(at 53% 56%, hsla(195,83%,56%,1) 0px, transparent 50%),
    radial-gradient(at 81% 85%, hsla(202,92%,61%,1) 0px, transparent 50%),
    radial-gradient(at 11% 87%, hsla(201,71%,54%,1) 0px, transparent 50%),
    radial-gradient(at 91% 21%, hsla(220,93%,61%,1) 0px, transparent 50%),
    radial-gradient(at 71% 20%, rgb(131, 148, 236) 0px, transparent 50%),
    radial-gradient(at 7% 14%, rgb(52, 129, 236) 0px, transparent 50%);

    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-us > h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 32px;
    color: white;
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction:column;
    font-size: 16px;
    padding: 20px;
}

label{
    padding: 20px 5px 5px 2px;
    color: white;
}

.input-bars{
    height: 40px;
    width: 400px;
    border-radius: 8px;
    border-color:transparent;
}

#dispcription{
    height: 120px;
}

.submit-button{
    width: 150px;
    padding: 10px;
    margin: 20px 5px;
    justify-self: center;
    color:var(--color-black);
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    border: none;
}

.submit-button:hover {
    color: #ffffff;
    background-color: #4d47fd;
    border: none;
    text-shadow: 0 0 5px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 800px #008cff;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

/*  */

.verticalline {
    height: 500px;
    border: 1.5px solid white;
}

.useful-links{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

.useful-links > a{
    color: white;
    font-size: 20px;
    padding: 6px;
    margin: 6px;
    opacity: 80%;
    width: fit-content;
}

.useful-links > a:hover{
    opacity: 100%;
    border-bottom: 0.5px solid white;
}

/*  */

.details > h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 6px;
}

.cont-details{
    display: flex;
    padding: 5px;
}

.contact-icons{
    padding: 5px;
    width: 26px;
    height: 26px;
}

.social-images{
    padding: 5px 40px;
}

.social-images > a > img{
    width: 45px;
    padding: 5px;
}

.social-images > a > img:hover{
    opacity: 80%;
}

.socialmedia h3{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    color: white;
}

#Logo{
    width:300px;
    margin: -20px; 
    padding: -200px;
}

.input-area{
    border-radius: 10px;
}

@media (max-width: 1020px){
    .socialmedia{
        display: flex;
        gap: 60px;
    }
}

@media (max-width: 700px){
    .contact-us{
        overflow-x: hidden;
    }

    .contact-us > h2{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .contact{
        padding: 15px;
        /* padding-right: auto; */
    }

   .input-bars {
        width: 400px;
    }

   .useful-links{
        width: 100%;
    }

   .verticalline{
        rotate: 90deg;
        height: 50px;
        display: flex;
        justify-content: center;
    }

   .socialmedia{
        display: block;
        /* flex-direction: column; */
        gap: 0px;
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 470px){
    .contact-us{
        overflow-x: hidden;
    }

    .contact-us > h2{
        margin: 5px;
    }
    .contact-container{
        margin: 10px;
        
    }

    .contact{
        padding: 20px;
        padding-right: 0px;
    }

    .input-bars {
        width: 280px;
    }

   .useful-links{
        width: 100%;
        padding: 15px;
    }

   .verticalline{
        rotate: 90deg;
        height: 50px;
        align-items: center;
        margin: 0px 170px;
    }

    .socialmedia {
        padding: 2px 30px 5px 0px;
    }

   .socialmedia > h2{
        padding: 0px 10px;
        margin: 12px;
        justify-content: center;
    }
   
   .social-images{
       padding: 0px;
       display: flex;
       justify-content: center;
       margin-top: -8px;
    }

   .social-images > a > img {
        width: 40px;
    }

    .details > h2 {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 340px){
    .contact{
        padding: 0px;
    }

    .cont-details{
        font-size: 14px;
    }

    .socialmedia{
        padding-right: 0px;
    }

    .useful-links{
        width: 80%;
        padding-right: 0px;
    }

    .useful-links > h2{
        width: 90%;
    }

    #Logo{
        width: 250px;
        padding-left: 60px;
    }
}
