.Menu{
    display: flex;
    justify-content: center;
    justify-content:flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(40, 100, 239);
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.school , .pu , .clg{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    padding: 20px;
}