/*          NAVIGATION BAR          */

nav{
    position: sticky;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-midblue);
    align-items: center;
    font-size: 18px;
    top: 0px;
    z-index: 2;
    color: white;
    height:9vh;
    overflow: hidden;

}

a > img{
    width: 3.8rem;
    padding: 5px 0 0 30px;
}

.Menu > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 5px;
}

.Menu > a:hover{  
    border-bottom: solid 2px;
    border-color: rgb(255, 255, 255);
    transition-delay: 30ms;
}

.Menu{
    justify-content: space-around;
    width: 600px;
    display: flex;
} 

.menu-icon > img{
    width: 36px;
}

.menu-icon{
    display: none;
}

@media (max-width: 710px) {

    nav{
        display: flex;
        justify-content: space-between;

    }

    .Menu{
        display: none;
    }

    .menu-icon{
        display: block;
        padding: 40px 60px;
    }
}
