*{
    background-color:  #FFC000;
}

*{
    background-color:  #FFC000;
}

.my-works{
    display: grid;
    gap: 52px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: 10px;
    padding: 30px;
}


.card-large{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-row-end: span 10;
}

.card-small{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-row-end: span 6;
}

.card-large > video{
    height: 600px;
    border-radius: 12px;
}

.card-small > video{
    height: 340px;
    border-radius: 12px;
}


@media (max-width: 700px){


    .my-works{
        padding: 15px;
        gap: 41px;
    }

    .card-large > video{
        height: 500px;
    }
    
    .card-small > video{
        height: 280px;
    }

    .portfolio-button{
        width: 350px;
        height: 45px;
        border-radius: 15px;
        
    }
    
    .portfolio-button > a{
        padding: 20px 40px;
    }
    
}
