
.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-yellow); 
    color: black;
    overflow: hidden;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 0px;
}

.proj-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
    flex-wrap: wrap;
}

.proj-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 420px;
    height: 340px;
    overflow: hidden;
}

.proj-card img:hover{
    scale: 1.02;
    transition: all 500ms ease-in-out;
}

.proj-card img{
    width: 450px;
    border-radius: 10px;
}

.proj-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: rgba(201, 225, 241, 0.9); */
    background: #191a1c;
    background: linear-gradient(0deg, rgba(25, 26, 28, 0.8) 10%, rgba(28, 25, 25, 0.1) 100%);
    width: 400px;
    text-align: center;
    transition: all 500ms;
    color: white;
    line-height: 24px;
    border-radius: 5px;
}



@media (max-width: 500px){
    .projects h2{
        font-size: 1.8rem;
        margin: 10px 0px 0px 0px;
        padding-top: 10px;
    }

    .proj-container{
        padding: 0px 5px 10px 5px;
        width: 90%;
    }

    .proj-card{
        padding: 12px;
        width: 250px;
        height: 195px;
    }

    .proj-card img{
        width: 270px;
    }

    .proj-txt{
        font-size: 12px;
    }
}