
.testimonial{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /* overflow: scroll; */
}

.testimonial> h2{
    display: flex;
    justify-content: center;
    padding: 20px 5px;
    font-size: 32px;
}
.ppl-testimonial{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
}
.ppl-testimonial > img{
    overflow: hidden;
}

/* .testimonial-content{
    width: 350px;
    height: 400px;
    background-color: #FFC000;
    border: solid black;
    margin: 12px;
} */


@media (max-width: 700px){

    .testimonial > h2{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .ppl-testimonial{
        padding: 0;
    }

    .testimonial-content > img {
        width: 370px;
    }
}

@media (max-width: 400px){

    .testimonial > h2{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .ppl-testimonial{
        padding: 0;
    }
}


@media (max-width: 350px){
    .testimonial-content > img {
        width: 320px;
    }
}