:root{
    --color-darkblue : #004E86;
    --color-midblue : #0070C0;
    --color-lightblue : #6EC3FF;
    --color-yellow : #FFC000;
    --color-black: #333333;
    --color-gray: #737373;
    --color-white: #FFFFFF;
    --color-darkmodebg: #282C34;
}

*{
    font-family: 'Montserrat', sans-serif;
}

* > a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}



/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* or height: 10px for horizontal */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Thumb (the handle) */
::-webkit-scrollbar-thumb {
  background: var(--color-midblue);
  border-radius: 5px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


                                /* landingpage */


/*           LANDING PAGE CONTENT            */

.landingpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:max-content ;
    overflow: hidden;
}

.maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-txt{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 600;
    text-align: left;
    position: relative;
    line-height:initial;
    text-indent: 10px;
    top: 10px;
    padding: 10px;
    left:18px;
    color: var(--color-black);
}

#animatedText{
    letter-spacing: 0;
    margin-left: -5px;
    color: var(--color-midblue); 
    overflow: hidden;
}

#animatedText span {
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    margin: 0;
    padding: 0;
}

#animatedText span:not(:last-child) {
  margin-right: -10px;
}

.fadeOutUp {
    animation: fadeOutUp 0.5s forwards !important;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}


.main-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 50vw;
    top: 5px;
    padding: 32px 0px 10px 30px;
    color: var(--color-gray);
    line-height: 24px;
}

.mainpic{
    display: flex;
    justify-self: right;
    flex-wrap: wrap;
    position: relative;
    float:right;
    padding-top: 30px;
    overflow: hidden;
}

.mainpic > img{
    height: 525px;
}

.button{
    display: flex;
    text-decoration: none;
    width: 200px;
    padding: 20px 10px 0px 30px;
}

#hire-button{
    color: #ffffff;
    background-color: var(--color-darkblue);
    height: 50px;
    width: 200px;
    border: 0px;
    border-radius: 10px;
    margin: 5px 2px;
    transition: 300ms;
}

#hire-button > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 30px;
    flex-wrap: nowrap;
}

#hire-button:hover{
    background-color: #008cff;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 5px #0f8cf3,
                0 0 20px #008cff,
                0 0 100px #0676d1;
}

.social-icon img{
    width: 40px;
    padding: 6px;
}

.social-icon{
    display: flex;
    margin: 12px 0px 0px 25px;
}


@media (max-width: 1300px){

    .main-txt{
        font-size: 4rem;
        color: #000000;
    }

    .main-description{
        font-size: 0.75em;
        line-height: 20px;
    }

    .mainpic > img{
        height: 425px;
    }

    .social-icon > img{
        padding:  2px 10px;
    }

}

@media (max-width: 1100px){

    .main-txt{
        font-size: 2.5rem;
        color: #000000;
    }

    .main-description{
        font-size: 0.65em;
        line-height: 18px;
        padding-top: 16px;
    }

    .button{
        padding: 10px 20px;
    }

    .mainpic > img{
        height: 400px;
        right: 60px;
    }

    .social-icon{
        margin: 6px 15px;
    }

    .social-icon > img{
        padding: 8px;
        
    }
}


@media (max-width: 820px){
    
    

    .mainpic > img{
        height: 360px;
    }
}

@media (min-width: 600px) and (max-width: 750px){

    .landingpage{
        flex-direction: row;
    }

    .main-txt{
        font-size: 3rem;
        text-align: center;
    }

    .main-description{
        font-size: 1em;
        width: 90%;
        flex-wrap: wrap;
        line-height: 28px;
        text-align: center;
        /* background-color: rebeccapurple; */
    }
    
    .main-links{
        display: flex;
        justify-content: space-around;
    }

    #hire-button{
        width: 100%;
    }

    .mainpic{
        padding-top: 10px;
        display: flex;
        align-items : center;
        justify-content: center;
        width: 100%;
    }

    .mainpic > img{
        height: 325px;
    }

    .social-icon{
        justify-content: flex-start;
        padding: 10px;
    }

    .social-icon > img{
        width: 30px;
        padding: 5px;
    }
}

@media (max-width: 600px){

    .main-txt , .hi-txt{
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-size: 2rem; */
    }

    .button{
        display: flex;
        justify-content: center;
        padding: 4px;
        width: 100%;
    }

    .main-description{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        width: 98%;
    }

    .social-icon{
        justify-content: center;
        gap: 40px;
        margin: 4px;
        padding: 10px;
        margin-left: 30px;
    }

    .social-icon > img{
        width: 50px;
        padding: 5px;
    }

    .mainpic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mainpic > img{
        height: 400px;
    }
}

@media (max-width: 480px){

    .maintext{
        position:relative;
        margin: 0px;
        padding: 4px;
        width: 92%;   
    }

    .main-txt{
        font-size: 2rem;
        padding: 5px;
        transform: translateX(-8px);
    }

    .hi-txt{
        display: flex;
        justify-content: center;
    }

    .main-description{
        font-size: 0.7em;
        width: 100%;
        flex-wrap: wrap;
        line-height: 18px;
        padding: 18px 10px 12px 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .button{
        display: flex;
        justify-content: center;
        padding: 4px;
        width: 100%;
    }

    #hire-button{
        justify-content: center;
    }

    #hire-button > a{
        padding: 4px;
    }

    .mainpic{
        padding-top: 0px;
    }
    .mainpic > img{
        height: 80vw;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 4px;
        padding: 4px;
        padding-left: 40px;
    }

    .social-icon > img{
        width: 40px;
        padding: 5px;
    }
    
}

@media (max-width: 378px){

    .main-txt{
        font-size: 1.5rem;
    }

    .mainpic{
        padding-top: 5px;
    }

    .mainpic > img{
        height: 80vw;
    }
}
